body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #ddd;
  font-family: "Manrope", sans-serif;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.text-sm {
  font-size: 0.75rem;
}

.header {
  width: 100%;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.header .header__logo {
  width: 80%;
  max-width: 10rem;
  max-height: 2.5rem;
  color: #e1e1e1;
  fill: #e1e1e1;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.headline {
  text-align: center;
  margin: 2rem 1rem;
  font-size: 1.25rem;
}

.nav-icons {
  display: flex;
  flex-direction: column;
}

.nav-icons a.nav-icon {
  width: 100%;
  height: 24vw;
  max-height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #ccc;
  text-decoration: none;
}

.nav-icon .title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem;
}

main .drink-section {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.drink-section .section-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Dancing script";
  margin: 0.5rem 0;
}

.drink-section .section-subtitle {
  font-weight: 200;
  text-align: center;
  color: #905858;
  max-width: 35ch;
  margin: 0 auto;
}

.drink-section .section-list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.drink-section .section-list .item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025rem;
}

.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  color: #191919;
  fill: #191919;
  cursor: pointer;
  border: none;
  outline: none;
  scale: 0;
  transition: scale 0.3s ease-in-out;
}

.scroll-top.visible {
  scale: 1;
}

.scroll-top > svg {
  width: 1.75rem;
  height: 1.75rem;
}

.footer {
  text-align: center;
}

.info {
  padding: 1.5rem;
  font-size: 0.875rem;
}

.info .logo {
  width: 100%;
  max-width: 10rem;
  margin-bottom: 1rem;
}

.legal {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.legal-icon {
  margin-right: 0.5rem;
  color: #f06262;
  border: 2px solid #f06262;
  border-radius: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  background-color: black;
  font-size: 0.9rem;
  padding: 0.75rem;
}
